*{
    box-sizing: border-box;
}
body{
    background-color: #011936;
}

h1{
    font-size: large;
    text-align: center;
    background-color: black;
    color: blanchedalmond;
    padding: 10px;
    margin: auto;
    width: 900px;
    display: flex;
    flex-direction: column;

}

main{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color:  #465362 ;
}

picture{

    margin: auto;
    box-shadow: grey;
    text-align: center;
}

picture img[data-src] {
    filter: blur(0.2em);
  }
  
picture img {
    filter: blur(0em);
    transition: filter 2.6s;
    padding: 5px;
}