@media only screen and (min-width: 20em) {
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      line-height: 1.2em;
    }
  
    body {
      font-size: 18px;
      font-family: 'Exo', serif;
    }
  
    .container {
      margin: 0 auto;
      max-width: 950px;
    }
  
    /* Navigation Bar */
  
  
  
    .toggleNav {
      display: block;
      color: #8b8b8b;
    }
  
    .toggleNav:hover,
    .toggleNav:focus {
      color: #ffba08;
      text-decoration: none;
    }
  
    nav {
      margin: 0.5rem;
      max-width: auto;
      background-color: #007f5f;
      border-radius: 10px;
      border-bottom: 1px solid #e2e2e2;
    }
  
    nav .hover {
      margin: 0 auto;
      max-width: 760px;
      background-color: #ffba08;
      border-radius: 10px;
      border-bottom: 1px solid #e2e2e2;
    }
  
    nav .active {
      margin: 0 auto;
      color: #ffba08;
      max-width: 760px;
      background-color: #82a3a1;
  
    }
  
    .flex-nav {
      list-style: none;
      text-align: center;
      padding: 0;
    }
  
    .flex-nav li:first-child {
      display: block;
    }
  
    .flex-nav li {
      display: none;
    }
  
    .flex-nav li {
      display: none;
    }
  
    .flex-nav a {
      display: flex;
      flex-direction: column;
      padding: 0.75rem;
      text-align: center;
      text-decoration: none;
      color: lightgray;
      font-weight: 700;
    }
  
    .flex-nav a:hover {
      color: #ffba08;
      background-color: #c0dfa1;
    }
  
    .flex-nav a:active {
      color: #011936;
      ;
      background-color: #82a3a1;
    }
  
    .responsive li {
      display: block;
    }
  
    .headingtext {
      display: flex;
      flex-direction: column;
      ;
      background-color: #82a3a1;

    }
  
    #banner {
        display: block;
        background-color: #82a3a1;
        color: black;
        margin-top: 10px;
        width: 100%;
        text-align: center;
      }
    
      .cloudbanner {
        position: relative;
        left: 2.5rem;
        /* margin: 10px auto; */
      }

      .weather-summary {
        position: absolute;
        top: 1rem;
        left: 1rem;
        background: radial-gradient(#82a3a1, #465362);
      }

    header h1 {
      font-size: 65px;
      font-family: 'Tangerine', serif, cursive, Arial, Helvetica;
      text-align: center;
      color: #011936;
      margin: auto;
    }
  
    header h2,
    h3 {
      font-size: 1.5rem;
      color: #011936;
      font-family: 'Exo', cursive, Arial, Helvetica, sans-serif;
    }
  
    .byline {
      margin-left: 20px;
      text-align: center;
    }
  
    header,
    footer {
      margin: .5rem;
      border-radius: 10px;
      text-align: center;
      background-color: #007f5f;
      color: whitesmoke;
      padding: .5em;
    }
  
   
    li a:hover {
      background-color: #82a3a1;
    }
  
    main {
      padding: 15px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      font-size: 1.2rem;
      grid-template-columns: 1fr;
  
    }
  
    main h1,
    h2,
    h3 {
      Font-size: 24px;
      color: #011936;
      font-family: 'Exo', serif;
    }
  
    main h2 {
      text-align: center;
    }
  
    .sitelogo {
      width: 100px;
      border-style: none;
      box-shadow: none;
      float: left;
      background-color: royalblue;
    }
  
    .maincontentbox {
      display: block;
      text-align: center;
      line-height: 35px;
      width: 100%;
      margin: 10px 10px 10px 10px;
      border: 1px dashed #000;
      background-color: #eee;
      color: #444;
      font-style: italic;
    }
  
  
    main>.main_title {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  
    main>.main_content {
      justify-content: left;
    }
  
    .main_content>ul {
      display: flex;
      flex-direction: column;
    }
  
    img {
      margin: 5px 5px 5px 5px;
      border-style: solid;
      width: 90%;
      height: auto;
    }
  
    .logo {
      width: 100px;
      border-style: none;
      box-shadow: none;
      float: left;
    }
  
    p>img>.logo {
      margin: 5px 5px 5px 5px;
      border-style: solid;
      width: 90%;
      height: auto;
    }
  
  
    #footerInfo>p>a {
      color: whitesmoke;
    }
  
    p {
      margin: .2em;
      color: black;
      padding: .1em;
    }
  
    #footerInfo>p {
      color: whitesmoke;
    }
  
    #footer_link>a {
      color: whitesmoke;
    }
  

    .footer-socialmedia {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 1em 0;
      }
    
      .footer-socialmedia a {
        display: grid;
      }
    
      .logo-social {
        justify-self: center;
        margin: auto;
        max-width: 60px;
      }
    section {
      margin: 4px;
      border-color: black;
      background-color: rgb(223, 223, 236);
      text-align: left;
    }
  
    figure {
      display: block;
      /* margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 40px;
      margin-inline-end: 40px; */
    }
  
  
  }